<nav>
  <a routerLink=""
     routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }">
     Home
  </a>

  <a routerLink="/page"
     routerLinkActive="active">
     Perfil
  </a>

  <a routerLink="/proyectos"
     routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }">
     Proyectos
  </a>

  <a routerLink="/proyectoDos"
     routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }">
     Proyecto Dos
  </a>

  <a routerLink="/Formulario/basic"
     routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }">
     Formulario basico
  </a>

  <a routerLink="/Formulario/dynamic"
     routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }">
     Formulario Dinamico
  </a>

  <a routerLink="/Formulario/more"
     routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }">
     Formulario Mas
  </a>



</nav>
