<nav>
  <a routerLink=""
     routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }">
     Home
  </a>

  <a routerLink="/page"
     routerLinkActive="active">
     Perfil
  </a>

  <a routerLink="/proyectos"
     routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }">
     Proyectos
  </a>

  <a routerLink="/proyectoDos"
     routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }">
     Proyecto Dos
  </a>

  <a routerLink="/Formulario"
     routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }">
     Formulario
  </a>

</nav>
